.logreg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    font-size: medium;
    padding: 0.3rem;
    margin: 0.5rem;
}

.emaildisclaimer {
    text-align: center;
    font-size: 0.8rem;
    width: 70%;
}

.errormsg {
    font-size: 0.8rem;
    color: red;
}